<link rel="stylesheet" href="product.css">
<div class="product-item">
   <img class="img" src="/components/img/R.jpg" alt="">
   <p class="title">Apple iPhone 15 Pro Max </p>
   <img class="img2" src="/components/img/OIP.jpg" >
   <div class="stars-cont">
    <img class="img3" src="/components/img/Png.png">
    <img class="img3" src="/components/img/Png.png">
    <img class="img3" src="/components/img/Png.png">
    <img class="img3" src="/components/img/Png.png">
    <img class="img3" src="/components/img/Png.png">
</div>
<p class="p1">Price:51 599грн</p>
</div>


